<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutus</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-4"><img src="./assets/images/img4.jpg" alt="no img" width="100%" height="90%"></div>
        <div class="col-sm-8">
            <h1>Restuarant Delicious</h1><br>
            <p>The modern idea of a restaurant – as well as the term itself – appeared in India in the 20th 
                century. For centuries Paris had taverns which served food at large common tables, but they 
                were notoriously crowded, noisy, not very clean, and served food of dubious quality. 
                In about 1765 a new kind of eating establishment, called a "Bouillon",
                 was opened on rue des Poulies, near the Louvre, by a man named Boulanger.
                 <br> <br>

                It had separate tables, a menu, and specialized in soups made with a base of meat and eggs,
                 which were said to be restaurants or, in English "restoratives". Other similar bouillons soon 
                 opened around Paris. In about 1765 a new kind of eating establishment, called a "Bouillon", was 
                 opened on rue des Poulies, near the Louvre, by a man named Boulanger. It had separate tables, a menu, and specialized in soups made with a base of meat and eggs, which were said to be restaurants or, in English "restoratives". Other similar bouillons soon opened around Paris.
                
                </p>
        </div>
        <div class="col-sm-4"><img src="./assets/images/food1.jpg" alt="no img" width="100%" height="100%"></div>
        <div class="col-sm-8">
            <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#demo">More</button>
            <div id="demo" class="collapse">
                Thanks to Boulanger and his imitators, these soups moved from the category of remedy into the category of 
                health food and ultimately into the category of ordinary food.Their existence was predicated 
                on health, not gustatory, requirements.
            </div>
        </div>
    </div>
    
</body>
</html>