<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>
        body{
      background-image: url('./assets/images/menubg1.jpg');
      height: 120vh;
      width:230vh;
      background-repeat: no-repeat;
      background-size: cover;
  }
    </style>
</head>
<body>
    <div class="card-deck">
       <div class="card-body">
           <div class="container-fluid">            
             <a href="./assets/images/breakfastmenu.jpg" target="_parent">
             <img src="./assets/images/Breakfastgif.gif" alt="no img" height="300" width="300"><br>
             </a>
            </div>
        </div>
        <div class="card-body">
           <div class="container-fluid">
              <div class="centered">Lunch</div>
              <a href="./assets/images/lunch menu.jpg" target="_parent">
              <img src="./assets/images/food1gif.gif" alt="no img" height="300" width="300"><br>
              </a>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
               <div class="centered">Juices</div>
               <a href="./assets/images/juicesmenu.jpg" target="_parent">
               <img src="./assets/images/juices2.jpg" alt="no img" height="300" width="300"><br>
               </a>
             </div>
         </div>
         <div class="card-body">
            <div class="container-fluid">
               <div class="centered">Dinner</div>
               <a href="./assets/images/dinnermenu.jpg" target="_parent" width="100px" height="100px" >
               <img src="./assets/images/dinnergif.gif" alt="no img" height="300" width="300"><br>
               </a>
             </div>
         </div>
        <div class="card-body">
            <div class="container-fluid">
               <div class="centered">Desserts</div>
               <a href="./assets/images/desertsmenu.jpg" target="_parent">
               <img src="./assets/images/dessertsgif.gif" alt="no img" height="300" width="300"><br>
               </a>
             </div>
         </div>
    </div>
</body>
</html>