<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
    background-image: url('./assets/images/home.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
    </style>
</head>
<body>
   
    <p id="p1">Welcome to Delicious restaurant</p><br><br>
    <p id="p2">We are proud of our long history of making delicious meals, warm and friendly atmosphere and 
        professional staff.</p>
</body>
</html>
